PGSvcClient/Service References/PGSvc/pgsvc-v03.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:uk-gov-hsl-msu:pgsvc-v03" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PopGen" targetNamespace="urn:uk-gov-hsl-msu:pgsvc-v03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_PopGenSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="10000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:uk-gov-hsl-msu:pgsvc-v03/Imports">
      <xsd:import schemaLocation="" namespace="urn:uk-gov-hsl-msu:pgsvc-v03" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/UK.Gov.Hsl.Msu.PGSvc" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/UK.Gov.Hsl.Msu.PGType" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PopGenSvc_Generate_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_Generate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateResponse" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_Generate_PopGenFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/UK.Gov.Hsl.Msu.PGSvc" name="detail" element="q1:PopGenFault" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_Cancel_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancel" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_Cancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelResponse" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_Cancel_PopGenFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/UK.Gov.Hsl.Msu.PGSvc" name="detail" element="q2:PopGenFault" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_IsCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCompleted" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_IsCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_IsCompleted_PopGenFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/UK.Gov.Hsl.Msu.PGSvc" name="detail" element="q3:PopGenFault" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_RetrieveResults_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveResults" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_RetrieveResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveResultsResponse" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_RetrieveResults_PopGenFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/UK.Gov.Hsl.Msu.PGSvc" name="detail" element="q4:PopGenFault" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_CleanUp_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanUp" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_CleanUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanUpResponse" />
  </wsdl:message>
  <wsdl:message name="PopGenSvc_CleanUp_PopGenFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/UK.Gov.Hsl.Msu.PGSvc" name="detail" element="q5:PopGenFault" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="PopGenSvc">
    <wsdl:documentation>
      <summary>PopGen generation API. Throws on various error conditions (rendering faulted channel and setting a 5 minute lock-out for client).</summary>
    </wsdl:documentation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Generate">
      <wsdl:documentation>
        <summary>Initialize and run a generation.</summary>
        <returns>Null on a success start-up; otherwise returns inputs validation error(s).</returns>
        <param name="inputs">Configuration parameters (for usage, refer to web site inputs page).</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/Generate" message="tns:PopGenSvc_Generate_InputMessage" />
      <wsdl:output wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/GenerateResponse" message="tns:PopGenSvc_Generate_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/GeneratePopGenFaultFault" name="PopGenFaultFault" message="tns:PopGenSvc_Generate_PopGenFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Cancel">
      <wsdl:documentation>
        <summary>Cancels ongoing generation and cleans up.</summary>
        <returns>If an ongoing generation was cancelled, the number of seconds the client must wait before a further generation can be run; returns 0 if the ongoing generation has completed.</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/Cancel" message="tns:PopGenSvc_Cancel_InputMessage" />
      <wsdl:output wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/CancelResponse" message="tns:PopGenSvc_Cancel_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/CancelPopGenFaultFault" name="PopGenFaultFault" message="tns:PopGenSvc_Cancel_PopGenFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsCompleted">
      <wsdl:documentation>
        <summary>Check progress of generation.</summary>
        <returns>True if results are ready to be retrieved.</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/IsCompleted" message="tns:PopGenSvc_IsCompleted_InputMessage" />
      <wsdl:output wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/IsCompletedResponse" message="tns:PopGenSvc_IsCompleted_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/IsCompletedPopGenFaultFault" name="PopGenFaultFault" message="tns:PopGenSvc_IsCompleted_PopGenFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RetrieveResults">
      <wsdl:documentation>
        <summary>Download results.</summary>
        <returns>A data structure containing individuals and summary statistics.</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/RetrieveResults" message="tns:PopGenSvc_RetrieveResults_InputMessage" />
      <wsdl:output wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/RetrieveResultsResponse" message="tns:PopGenSvc_RetrieveResults_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/RetrieveResultsPopGenFaultFault" name="PopGenFaultFault" message="tns:PopGenSvc_RetrieveResults_PopGenFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CleanUp">
      <wsdl:documentation>
        <summary>Unload generation task and results.</summary>
        <returns>The number of seconds the client must wait before a further generation can be run.</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/CleanUp" message="tns:PopGenSvc_CleanUp_InputMessage" />
      <wsdl:output wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/CleanUpResponse" message="tns:PopGenSvc_CleanUp_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/CleanUpPopGenFaultFault" name="PopGenFaultFault" message="tns:PopGenSvc_CleanUp_PopGenFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_PopGenSvc" type="tns:PopGenSvc">
    <wsp:PolicyReference URI="#WSHttpBinding_PopGenSvc_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Generate">
      <soap12:operation soapAction="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/Generate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PopGenFaultFault">
        <soap12:fault use="literal" name="PopGenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap12:operation soapAction="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/Cancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PopGenFaultFault">
        <soap12:fault use="literal" name="PopGenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsCompleted">
      <soap12:operation soapAction="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/IsCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PopGenFaultFault">
        <soap12:fault use="literal" name="PopGenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveResults">
      <soap12:operation soapAction="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/RetrieveResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PopGenFaultFault">
        <soap12:fault use="literal" name="PopGenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CleanUp">
      <soap12:operation soapAction="urn:uk-gov-hsl-msu:pgsvc-v03/PopGenSvc/CleanUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PopGenFaultFault">
        <soap12:fault use="literal" name="PopGenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PopGen">
    <wsdl:port name="WSHttpBinding_PopGenSvc" binding="tns:WSHttpBinding_PopGenSvc">
      <soap12:address location="http://xnet.hsl.gov.uk/popgen/svc/pg.svc/epv03" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://xnet.hsl.gov.uk/popgen/svc/pg.svc/epv03</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>xnet.hsl.go.uk</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>